/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt Arial, sans-serif;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/
h1 {
  margin: 0;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

header {
  
  width: 100%;
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  background: #335c7d;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  transition: all 0.4s ease;
}

header.sticky {
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 100%;
  background: #efc47d;
  text-align: left;
  padding-left: 20px;
}

.sticky > h1 {
  margin: 0;
}

/****************************************
  Components
*****************************************/