/****************************************
  Inherited Syles
*****************************************/
/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  background-color: #121212;
  box-sizing: border-box;
  color: #444;
  font: 12pt 'Open Sans', serif;
  font-weight: 300; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

.toggle {
  color: #fff;
  font-family: sans-serif;
  text-align: center; }

/****************************************
  Defaults
*****************************************/
/****************************************
  Helpers
*****************************************/
/****************************************
  Layout
*****************************************/
.primary-nav {
  list-style: none;
  margin: 50px auto;
  max-width: 720px;
  padding: 0;
  width: 100%; }

.nav-item {
  background: #fff;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20%; }
